In [1]:
import pandas as pd
import numpy as np

## New Analysis looking only at June 2021 - December 2021

In [8]:
# create the dataframes for each CSV

df1 = pd.read_csv('06_2021.csv')
df2 = pd.read_csv('07_2021.csv')
df3 = pd.read_csv('08_2021.csv')
df4 = pd.read_csv('09_2021.csv')
df5 = pd.read_csv('10_2021.csv')
df6 = pd.read_csv('11_2021.csv')
df7 = pd.read_csv('12_2021.csv')

/opt/anaconda3/envs/pythondata/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3186: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/opt/anaconda3/envs/pythondata/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3186: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
# Create a list of all DataFrames
dataframes = [df1, df2, df3, df4, df5, df6, df7]

# Remove null values from each DataFrame
cleaned_dataframes = [df.dropna() for df in dataframes]

# Combine the cleaned DataFrames into one DataFrame
bike_half_2021 = pd.concat(cleaned_dataframes, ignore_index=True)

In [10]:
# convert the date columns to datetime
bike_half_2021['started_at'] = pd.to_datetime(bike_half_2021['started_at'])
bike_half_2021['ended_at'] = pd.to_datetime(bike_half_2021['ended_at'])

In [12]:
bike_half_2021.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,distance
0,4B923B054861DAEF,docked_bike,2021-06-01 23:12:34,2021-06-01 23:14:46,Driggs Ave & N 9 St,5411.08,Bayard St & Leonard St,5442.05,40.718169,-73.955201,40.719156,-73.948854,member,0.546051
1,7F5D78629F671C01,docked_bike,2021-06-16 17:14:56,2021-06-16 17:29:15,Fulton St & Broadway,5175.08,Mercer St & Spring St,5532.01,40.711066,-74.009447,40.723627,-73.999496,casual,1.629163
2,3F11FC94B816A370,docked_bike,2021-06-07 19:41:55,2021-06-07 19:51:28,Devoe St & Lorimer St,5259.06,Manhattan Av & Leonard St,5442.09,40.713352,-73.949103,40.720840,-73.948440,casual,0.834500
3,9116683DA18320D9,electric_bike,2021-06-17 15:13:15,2021-06-17 15:33:25,Driggs Ave & N 9 St,5411.08,Greenwich Ave & Charles St,5914.08,40.718169,-73.955201,40.735238,-74.000271,member,4.245758
4,FBBF59A0A03AC3AF,electric_bike,2021-06-18 08:27:03,2021-06-18 08:53:37,Graham Ave & Conselyea St,5291.05,E 30 St & Park Ave S,6206.08,40.715143,-73.944507,40.744449,-73.983035,member,4.599886

In [22]:
# Drop duplicates based on the 'Start Station ID' column and keep the first occurrence
unique_df = bike_half_2021.drop_duplicates(subset='start_station_name', keep='first')

unique_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,distance
0,4B923B054861DAEF,docked_bike,2021-06-01 23:12:34,2021-06-01 23:14:46,Driggs Ave & N 9 St,5411.08,Bayard St & Leonard St,5442.05,40.718169,-73.955201,40.719156,-73.948854,member,0.546051
1,7F5D78629F671C01,docked_bike,2021-06-16 17:14:56,2021-06-16 17:29:15,Fulton St & Broadway,5175.08,Mercer St & Spring St,5532.01,40.711066,-74.009447,40.723627,-73.999496,casual,1.629163
2,3F11FC94B816A370,docked_bike,2021-06-07 19:41:55,2021-06-07 19:51:28,Devoe St & Lorimer St,5259.06,Manhattan Av & Leonard St,5442.09,40.713352,-73.949103,40.720840,-73.948440,casual,0.834500
4,FBBF59A0A03AC3AF,electric_bike,2021-06-18 08:27:03,2021-06-18 08:53:37,Graham Ave & Conselyea St,5291.05,E 30 St & Park Ave S,6206.08,40.715143,-73.944507,40.744449,-73.983035,member,4.599886
5,A2D21AC00246A4C6,docked_bike,2021-06-18 07:49:07,2021-06-18 07:56:17,Clark St & Henry St,4789.03,Boerum Pl\t& Pacific St,4488.09,40.697601,-73.993445,40.688489,-73.991160,member,1.031348

In [23]:
unique_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1544 entries, 0 to 18068928
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             1544 non-null   object
 1   rideable_type       1544 non-null   object
 2   started_at          1544 non-null   datetime64[ns]
 3   ended_at            1544 non-null   datetime64[ns]
 4   start_station_name  1544 non-null   object
 5   start_station_id    1544 non-null   object
 6   end_station_name    1544 non-null   object
 7   end_station_id      1544 non-null   object
 8   start_lat           1544 non-null   float64
 9   start_lng           1544 non-null   float64
 10  end_lat             1544 non-null   float64
 11  end_lng             1544 non-null   float64
 12  member_casual       1544 non-null   object
 13  distance            1544 non-null   float64
dtypes: datetime64[ns](2), float64(5), object(7)
memory usage: 180.9+ KB

In [13]:
# Save the combined DataFrame to a CSV file
bike_half_2021.to_csv('bike_half_2021.csv', index=False)